@tailwind base;

@tailwind components;

@tailwind utilities;

/* @layer utilities {
  .toggle-checkbox:checked {
    @apply: right-0 border-blue-500;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-blue-500;
    background-color: #68d391;
  }
} */
